.container {
    background-image: url(../../../assets/moon.png);
    width: 100%;
    height: 910px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    position: relative;
    overflow: hidden;
    .text-content {
        width: 400px;
        height: 450px;
        margin-left: 140px;
        margin-top: 230px;
        z-index: 1;
        .story {
            color: white;
            font-size: 12px;
            letter-spacing: 2px;
        }
        .title {
            color: white;
            font-size: 45px;
            line-height: 48px;
            text-transform: uppercase;
            letter-spacing: 6px;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .march {
            color: white;
            opacity: 75%;
            font-size: 13px;
            strong {
                opacity: 100%;
            }
        }
        .para {
            color: white;
            opacity: 60%;
            font-size: 15px;
            line-height: 25px;
            margin: 28px 0;
        }
        .arrow {
            display: flex;
            gap: 20px;
            z-index: 2;
            position: relative;
            .read {
                color: white;
                font-size: 12px;
                letter-spacing: 2px;
                cursor: pointer;
            }
            .read:hover {
                text-decoration: underline;
            }
            .glow {
                width: 1440px;
                height: 1300px;
                background: radial-gradient(rgba(255, 197, 147, 1), rgba(188, 113, 152, 0.1), rgba(90, 119, 255, 0));
                opacity: 0%;
                visibility: hidden;
                position: absolute;
                bottom: -790px;
                left: -800px;
                transition:
                    opacity 1s ease,
                    visibility 1s ease;
                z-index: -1;
            }
        }
        .arrow:hover .glow {
            opacity: 0.5;
            visibility: visible;
        }
    }
}
