@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM sans";
}

section {
    display: flex;
    .text-area {
        max-width: 700px;
        padding: 173px 111px;
        background-color: black;
        h2 {
            color: white;
            font-size: 50px;
            width: 387px;
            line-height: 48px;
            letter-spacing: 4.17px;
        }
        .para {
            color: white;
            opacity: 60%;
            margin-top: 21px;
            font-size: 15px;
            line-height: 25px;
        }
        .link-content {
            display: flex;
            margin-top: 48px;
            gap: 18px;
            .link {
                color: white;
            }
        }
    }
    .back-img{
        height: 703px;
        width: 1205px;
    }
}
